html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

s-page {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

s-page.gap {
  padding: 16px;
}

s-page.gap>* {
  margin: 8px;
}

:not(:defined) {
  display: none;
}

/**fluent2**/