<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-card clickable="true">
      <div slot="image"></div>
      <div slot="headline">Headline</div>
      <div slot="subhead">Subhead</div>
      <div slot="text">Cards are often used for grid lists, which provide click effects</div>
      <s-button slot="action" type="filled-tonal">Action</s-button>
      <s-button slot="action">Action</s-button>
    </s-card>

    <s-card type="filled" clickable="true">
      <div slot="image"></div>
      <div slot="headline">Headline</div>
      <div slot="subhead">Subhead</div>
      <div slot="text">Cards are often used for grid lists, which provide click effects</div>
      <s-button slot="action" type="outlined">Action</s-button>
      <s-button slot="action">Action</s-button>
    </s-card>

    <s-card type="outlined" clickable="true">
      <div slot="image"></div>
      <div slot="headline">Headline</div>
      <div slot="subhead">Subhead</div>
      <div slot="text">Cards are often used for grid lists, which provide click effects</div>
      <s-button slot="action" type="filled-tonal">Action</s-button>
      <s-button slot="action">Action</s-button>
    </s-card>
  </s-page>
</body>

</html>