<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script>
  </script>
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-date></s-date>
    zh
    <s-date locale="zh"></s-date>
    en
    <s-date locale="en" min="1908-11-04"></s-date>
    <hr>
    <s-button onclick="customElements.get('s-date').setLocale('en')">set lang</s-button>
  </s-page>
</body>

</html>