<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-fab>
      <s-icon name="add"></s-icon>
    </s-fab>

    <s-fab disabled="true">
      <s-icon name="add"></s-icon>
    </s-fab>
    <s-fab>
      <s-icon name="add" slot="start"></s-icon>
      Button
      <s-icon name="close" slot="end"></s-icon>
    </s-fab>

    <s-fab>
      <s-icon name="add" slot="start"></s-icon>
      Button
    </s-fab>

    <s-fab>
      Button
      <s-icon name="close" slot="end"></s-icon>
    </s-fab>

    <s-fab hidden="false" id="fab">
      <s-icon name="add"></s-icon>
    </s-fab>
    <s-button onclick="this.previousElementSibling.hidden=!this.previousElementSibling.hidden">Toggle</s-button>
  </s-page>
</body>

</html>