<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-field>
      <div slot="label">请选择内容</div>
      <div
        onclick="this.parentElement.fixed=!this.parentElement.fixed;this.parentElement.focused=!this.parentElement.focused">
        def</div>
    </s-field>

    <s-field fixed="false" style="--field-border-top-left-radius: 0px;--field-border-bottom-left-radius: 0px;">
      <div slot="label">请选择内容</div>
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed" style="width: var(--left-border-radius);">def
      </div>
    </s-field>
    <hr>

    <s-field focused="true">
      <div slot="label"></div>
      <div>empty label</div>
    </s-field>
    <s-field fixed="false">
      <div slot="label"></div>
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed">empty label</div>
    </s-field>
    <hr>

    <s-field>
      <div>not label</div>
    </s-field>

    <s-field fixed="false" focused="true">
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed">not label</div>
    </s-field>

    <hr>

    focused

    <s-field focused="true">
      <div slot="label">请选择内容</div>
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed">def</div>
    </s-field>

    <hr>0
    <s-field focused="true" style="--field-padding: 24px;--field-border-radius: 24px;">
      <div slot="label">请选择内容</div>
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed">def</div>
    </s-field>

    <s-field focused="true" style="--field-padding: 24px;--field-border-radius: 24px;">
      <div slot="label"></div>
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed">def</div>
    </s-field>

    <s-field focused="true" style="--field-padding: 0;--field-border-radius: 0;height: 48px;">
      <div slot="label">请选择内容</div>
      <div onclick="this.parentElement.fixed=!this.parentElement.fixed">def</div>
    </s-field>

    <hr>

    <s-field>
      <div slot="label" style="padding: 12px 0;height: auto;">请选择内容</div>
      <div style="height: 64px;" onclick="this.parentElement.fixed=!this.parentElement.fixed">def</div>
    </s-field>

    <s-field fixed="false">
      <div slot="label" style="padding: 12px 0;height: auto;">请选择内容</div>
      <div style="height: 96px;" onclick="this.parentElement.fixed=!this.parentElement.fixed">def</div>
    </s-field>
  </s-page>

  <legend></legend>
</body>

</html>