<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-field>
      <div slot="label">请选择内容</div>
      <div slot="view"> ... </div>
    </s-field>

    <s-field focused="true">
      <div slot="label">请选择内容</div>
    </s-field>
  </s-page>
</body>

</html>