<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-fold>
      <s-button slot="trigger">折叠</s-button>
      空山新雨后，天气晚来秋。 <br />
      明月松间照，清泉石上流 <br />
      竹喧归浣女，莲动下渔舟。 <br />
      随意春芳歇，王孙自可留。 <br />
    </s-fold>
  </s-page>
</body>

</html>