<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-icon-button>
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button variant="filled">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button variant="tonal">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button variant="outlined">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <hr>
    <s-icon-button disabled="true">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button variant="filled" disabled="true">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button variant="tonal" disabled="true">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button variant="outlined" disabled="true">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <hr>
    <h1>Checkable</h1>
    <s-icon-button checkable="true">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button checkable="true" variant="filled">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button checkable="true" variant="tonal">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button checkable="true" variant="outlined">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <hr>
    <s-icon-button checkable="true" checked="true">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button checkable="true" checked="true" variant="filled">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button checkable="true" checked="true" variant="tonal">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <s-icon-button checkable="true" checked="true" variant="outlined">
      <s-icon name="add"></s-icon>
    </s-icon-button>
    <hr>

    <h1>Size</h1>
    <s-icon-button size="extra-small" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="small" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="medium" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="large" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="extra-large" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <hr>
    <s-icon-button size="extra-small" variant="filled" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="small" variant="filled" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="medium" variant="filled" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="large" variant="filled" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="extra-large" variant="filled" checkable="true"><s-icon name="add"></s-icon></s-icon-button>
    <hr>
    <s-icon-button size="extra-small" variant="tonal"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="small" variant="tonal"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="medium" variant="tonal"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="large" variant="tonal"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="extra-large" variant="tonal"><s-icon name="add"></s-icon></s-icon-button>
    <hr>
    <s-icon-button size="extra-small" variant="outlined"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="small" variant="outlined"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="medium" variant="outlined"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="large" variant="outlined"><s-icon name="add"></s-icon></s-icon-button>
    <s-icon-button size="extra-large" variant="outlined"><s-icon name="add"></s-icon></s-icon-button>
    <hr>
  </s-page>
</body>

</html>