<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-icon type="home"></s-icon>
    <s-icon type="add"></s-icon>
    <s-icon type="search"></s-icon>
    <s-icon type="menu"></s-icon>
    <s-icon type="arrow_back"></s-icon>
    <s-icon type="arrow_forward"></s-icon>
    <s-icon type="arrow_upward"></s-icon>
    <s-icon type="arrow_downward"></s-icon>
    <s-icon type="arrow_drop_up"></s-icon>
    <s-icon type="arrow_drop_down"></s-icon>
    <s-icon type="arrow_drop_left"></s-icon>
    <s-icon type="arrow_drop_right"></s-icon>
    <s-icon type="more_vert"></s-icon>
    <s-icon type="more_horiz"></s-icon>
    <s-icon type="close"></s-icon>
    <s-icon type="done"></s-icon>
    <s-icon type="chevron_up"></s-icon>
    <s-icon type="chevron_down"></s-icon>
    <s-icon type="chevron_left"></s-icon>
    <s-icon type="chevron_right"></s-icon>
    <s-icon type="light_mode"></s-icon>
    <s-icon type="dark_mode"></s-icon>
    <s-icon type="star"></s-icon>
    <s-icon type="favorite"></s-icon>
    <hr>
    <s-icon src="/test/images/search.svg"></s-icon>
  </s-page>
</body>

</html>