<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page theme="auto" onchange="console.log(this.isDark)">
    <s-button onclick="page.toggle('auto',this)">auto</s-button>
    <s-button onclick="page.toggle('light',this)">light</s-button>
    <s-button onclick="page.toggle('dark',this)">dark</s-button>
  </s-page>
  <script>
    const page = document.querySelector('s-page')
  </script>
</body>

</html>