<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-pagination total="200" onchange="console.log(event.target.value)"></s-pagination>
    <s-pagination type="outlined" total="200" onchange="console.log(event.target.value)"></s-pagination>
    <s-pagination type="rounded" total="200" onchange="console.log(event.target.value)"></s-pagination>
  </s-page>
</body>

</html>