<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-picker label="地区xxxxxxxxxx">
      <s-picker-item value="gui yang">贵阳</s-picker-item>
      <s-picker-item value="bei jing">北京</s-picker-item>
      <s-picker-item value="shang hai">上海</s-picker-item>
      <s-picker-item value="shen zhen">深圳</s-picker-item>
      <s-picker-item value="cheng du">成都</s-picker-item>
      <s-picker-item value="wu han">武汉</s-picker-item>
      <s-picker-item value="nan chang">南昌</s-picker-item>
      <s-picker-item value="hang zhou">杭州</s-picker-item>
    </s-picker>
  </s-page>
</body>

</html>