<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <span>选择框</span>
    <s-picker label="地区xxxxxxxxxx">
      <s-picker-item value="gui yang">贵阳</s-picker-item>
      <s-picker-item value="bei jing">北京</s-picker-item>
      <s-picker-item value="shang hai">上海</s-picker-item>
      <s-picker-item value="shen zhen">深圳</s-picker-item>
      <s-picker-item value="cheng du">成都</s-picker-item>
      <s-picker-item value="wu han">武汉</s-picker-item>
      <s-picker-item value="nan chang">
        <s-icon name="home" slot="start"></s-icon>
        南昌
      </s-picker-item>
      <s-picker-item value="hang zhou">
        杭州
        <svg slot="end" viewBox="0 -960 960 960">
          <path
            d="M440-280h80v-400h-80v400Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z">
          </path>
        </svg>
      </s-picker-item>
    </s-picker>
    <s-picker label="请选择地区">
      <s-picker-item value="gui yang">贵阳</s-picker-item>
      <s-picker-item value="bei jing">北京</s-picker-item>
      <s-picker-item value="shang hai">上海</s-picker-item>
      <s-picker-item value="shen zhen">深圳</s-picker-item>
      <s-picker-item value="cheng du">成都</s-picker-item>
      <s-picker-item value="wu han">武汉</s-picker-item>
      <s-picker-item value="nan chang">南昌</s-picker-item>
      <s-picker-item value="hang zhou">杭州</s-picker-item>
    </s-picker>

    <s-picker label="地区xxxxxxxxxx">
      <s-picker-item value="gui yang" selected="true">贵阳</s-picker-item>
      <s-picker-item value="bei jing">北京</s-picker-item>
      <s-picker-item value="shang hai">上海</s-picker-item>
      <s-picker-item value="shen zhen">深圳</s-picker-item>
      <s-picker-item value="cheng du">成都</s-picker-item>
      <s-picker-item value="wu han">武汉</s-picker-item>
      <s-picker-item value="nan chang">南昌</s-picker-item>
      <s-picker-item value="hang zhou">杭州</s-picker-item>
    </s-picker>

    <s-picker onchange="this.firstElementChild.textContent = this.options[this.selectedIndex].textContent">
      <s-button slot="trigger">地区</s-button>
      <s-picker-item>贵阳</s-picker-item>
      <s-picker-item>北京</s-picker-item>
      <s-picker-item>上海</s-picker-item>
      <s-picker-item>深圳</s-picker-item>
      <s-picker-item>成都</s-picker-item>
      <s-picker-item>武汉</s-picker-item>
      <s-picker-item>南昌</s-picker-item>
      <s-picker-item>杭州</s-picker-item>
    </s-picker>
  </s-page>
</body>

</html>