<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-rate></s-rate>
    <hr>
    <s-rate>
      <s-icon slot="track" name="favorite"></s-icon>
      <s-icon slot="indicator" name="favorite"></s-icon>
    </s-rate>
  </s-page>
</body>

</html>