<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-segmented-button>
      <s-segmented-button-item value="a">
        Map
      </s-segmented-button-item>
      <s-segmented-button-item value="b">
        Transit
      </s-segmented-button-item>
      <s-segmented-button-item value="c" disabled="true">
        Satellite
      </s-segmented-button-item>
      <s-segmented-button-item value="d" selected="true">
        Weekly
      </s-segmented-button-item>
    </s-segmented-button>
    <s-button>按钮</s-button>
    <s-segmented-button mode="fixed">
      <s-segmented-button-item selected="true" value="a">
        Map
      </s-segmented-button-item>
      <s-segmented-button-item value="b">
        Transit
      </s-segmented-button-item>
      <s-segmented-button-item value="c">
        Satellite
      </s-segmented-button-item>
      <s-segmented-button-item value="d">
        <s-icon slot="start" name="home"></s-icon>
        Weekly
      </s-segmented-button-item>
    </s-segmented-button>
    <s-segmented-button mode="fixed">
      <s-segmented-button-item value="a">
        Map
      </s-segmented-button-item>
      <s-segmented-button-item value="b">
        Transit
      </s-segmented-button-item>
      <s-segmented-button-item value="c">
        Satellite
      </s-segmented-button-item>
      <s-segmented-button-item value="d" selected="true">
        <s-icon slot="start" name="home"></s-icon>
        Weekly
      </s-segmented-button-item>
    </s-segmented-button>
  </s-page>
</body>

</html>