<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <div style="display: flex; align-items: center">
      <s-skeleton style="width: 72px; height: 72px"></s-skeleton>
      <div style="flex-grow: 1; margin-left: 16px">
        <s-skeleton></s-skeleton>
        <s-skeleton style="margin-top: 8px"></s-skeleton>
        <s-skeleton style="margin-top: 8px; width: 80%"></s-skeleton>
      </div>
    </div>
  </s-page>
</body>

</html>