<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-slider></s-slider>
    <hr>
    <s-slider labeled="true"></s-slider>
    <hr>
    <s-slider disabled="true"></s-slider>
    <hr>
    <s-slider style="color: #009688; --s-color-secondary-container: #b4deda"></s-slider>
  </s-page>
</body>

</html>