<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <s-snackbar>
      <s-button slot="trigger"> 提示auto </s-button>
      Message
      <s-button type="text" slot="action"> 关闭 </s-button>
    </s-snackbar>
    <hr>
    <s-snackbar align="top">
      <s-button slot="trigger"> 提示 top</s-button>
      <s-icon name="light_mode" slot="icon"></s-icon>
      Message
      <s-button type="text" slot="action"> 关闭 </s-button>
    </s-snackbar>
    <hr>
    <s-snackbar type="error" align="bottom">
      <s-button slot="trigger" type="filled-tonal"> 错误 bottom </s-button>
      Message
    </s-snackbar>
    <s-button id="create"> create </s-button>
  </s-page>
  <script type="module">
    import { Snackbar } from '../../dist/main.js'
    const create = document.querySelector('#create')
    create.addEventListener('click', () => {
      Snackbar.builder('你好')
    })
  </script>>

  </script>
</body>

</html>