<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page>
    <s-table style="margin: 24px;">
      <s-thead>
        <s-tr>
          <s-th>title1</s-th>
          <s-th>title2</s-th>
          <s-th>title3</s-th>
          <s-th>title4</s-th>
          <s-th>title5</s-th>
        </s-tr>
      </s-thead>
      <s-tbody>
        <s-tr>
          <s-td>item1</s-td>
          <s-td>item2</s-td>
          <s-td>item3</s-td>
          <s-td>item4</s-td>
          <s-td>item5</s-td>
        </s-tr>
        <s-tr>
          <s-td>item1</s-td>
          <s-td>item2</s-td>
          <s-td>item3</s-td>
          <s-td>item4</s-td>
          <s-td>item5</s-td>
        </s-tr>
        <s-tr>
          <s-td>item1</s-td>
          <s-td>item2</s-td>
          <s-td>item3</s-td>
          <s-td>item4</s-td>
          <s-td>item5</s-td>
        </s-tr>
      </s-tbody>
    </s-table>
    <s-table style="margin: 24px;display: block;">
      <s-thead>
        <s-tr>
          <s-th>title1</s-th>
          <s-th>title2</s-th>
          <s-th>title3</s-th>
          <s-th>title4</s-th>
          <s-th>title5</s-th>
          <s-th>title5</s-th>
          <s-th>title5</s-th>
          <s-th>title5</s-th>
          <s-th>title5</s-th>
          <s-th>title5</s-th>
        </s-tr>
      </s-thead>
      <s-tbody>
        <s-tr>
          <s-td>item1</s-td>
          <s-td>item2</s-td>
          <s-td>item3</s-td>
          <s-td>item4</s-td>
          <s-td>item5</s-td>
          <s-td>item5</s-td>
          <s-td>item5</s-td>
          <s-td>item5</s-td>
          <s-td>item5</s-td>
          <s-td>item5</s-td>
        </s-tr>
      </s-tbody>
    </s-table>

    <s-table
      style="margin: 24px;display: block;"><s-thead><s-tr><s-th>名称</s-th><s-th>介绍</s-th></s-tr></s-thead><s-tbody><s-tr><s-td>--s-color-primary</s-td><s-td>filled
            背景颜色，elevated/text 前景颜色</s-td></s-tr><s-tr><s-td>--s-color-on-primary</s-td><s-td>filled
            前景颜色</s-td></s-tr><s-tr><s-td>--s-color-surface-container-high</s-td><s-td>elevated
            背景颜色</s-td></s-tr><s-tr><s-td>--s-color-secondary-container</s-td><s-td>filled-tonal
            背景颜色</s-td></s-tr><s-tr><s-td>--s-color-on-secondary-container</s-td><s-td>filled-tonal
            前景颜色</s-td></s-tr><s-tr><s-td>--s-color-outline</s-td><s-td>outlined
            边框颜色</s-td></s-tr><s-tr><s-td>--s-color-on-surface</s-td><s-td>禁用背景前景颜色，outlined
            禁用边框颜色</s-td></s-tr><s-tr><s-td>--s-elevation-level1</s-td><s-td>filled hover/pressed 阴影，elevated
            阴影</s-td></s-tr><s-tr><s-td>--s-elevation-level2</s-td><s-td>elevated hover/pressed
            阴影</s-td></s-tr></s-tbody></s-table>
  </s-page>
</body>

</html>