<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script>
    const x = document.createElement('s-text-field')
    x.value = '射手'
    x.label = '请输入内容'
    console.log(x)
    setTimeout(() => {
      document.querySelector('s-page')?.appendChild(x)
    }, 20)
  </script>
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">

    <s-text-field label="请输入内容" style="--text-field-border-radius: 38px;--text-field-padding: 24px"></s-text-field>


    <s-text-field label="请输入内容" value="My Name">
      <s-icon slot="start" name="search"></s-icon>
      <s-icon-button slot="end">
        <s-icon name="close"></s-icon>
      </s-icon-button>
    </s-text-field>
    <hr>
    <s-text-field label="数字输入框" type="number" oninput="console.log('input')"
      onchange="console.log('change')"></s-text-field>
    <s-text-field label="密码输入框" type="password"></s-text-field>
    <hr>
    <s-text-field style="display: grid; width: auto" label="请输入名称"></s-text-field>
    <hr>
    <s-text-field label="多行文本输入" type="multiline"></s-text-field>
    <hr>
    <s-text-field error="true" label="请输入内容"></s-text-field>
    <hr>
    <s-text-field label="请输入内容" maxLength="20" countered="true">
      <div slot="text">help</div>
    </s-text-field>
    <hr>
    <s-text-field label="请输入密码" type="password"></s-text-field>
    <hr>
    <s-text-field label="聚焦此框，然后按 tab"></s-text-field>
    <s-text-field disabled="true" label="禁用的文本框"></s-text-field>
  </s-page>
</body>

</html>