<!DOCTYPE html>
<html lang="ZH-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <script type="module" src="../../dist/main.js"></script>
  <link rel="stylesheet" href="../styles/default.css">
  <script type="module" src="../scripts/default.js"></script>
</head>

<body>
  <s-page class="gap">
    <hr style="height: 200px;">
    <s-tooltip>
      <s-button slot="trigger">top</s-button>
      提示信息
    </s-tooltip>

    <s-tooltip align="bottom">
      <s-button slot="trigger">bottom</s-button>
      提示信息
    </s-tooltip>

    <s-tooltip align="left">
      <s-button slot="trigger">left</s-button>
      提示信息
    </s-tooltip>

    <s-tooltip align="right">
      <s-button slot="trigger">right</s-button>
      提示信息
    </s-tooltip>
  </s-page>
</body>

</html>