s-page{
  --s-color-primary: #336b23;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #b4f39a;
  --s-color-on-primary-container: #032100;
  --s-color-secondary: #54624d;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #d8e7cc;
  --s-color-on-secondary-container: #121f0e;
  --s-color-tertiary: #386668;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #bcebed;
  --s-color-on-tertiary-container: #002021;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fdfdf6;
  --s-color-on-background: #1a1c18;
  --s-color-outline: #73796e;
  --s-color-outline-variant: #c3c8bc;
  --s-color-surface: #fdfdf6;
  --s-color-on-surface:#1a1c18;
  --s-color-surface-variant: #dfe4d7;
  --s-color-on-surface-variant: #43483f;
  --s-color-inverse-surface: #2f312d;
  --s-color-inverse-on-surface: #f1f1ea;
  --s-color-inverse-primary: #99d681;
  --s-color-surface-container: #eeeee8;
  --s-color-surface-container-high: #e8e9e2;
  --s-color-surface-container-highest: #e3e3dc;
  --s-color-surface-container-low: #f4f4ed;
  --s-color-surface-container-lowest: #ffffff;

  --s-color-dark-primary: #99d681;
  --s-color-dark-on-primary: #093900;
  --s-color-dark-primary-container: #1b520b;
  --s-color-dark-on-primary-container: #b4f39a;
  --s-color-dark-secondary: #bccbb1;
  --s-color-dark-on-secondary: #273421;
  --s-color-dark-secondary-container: #3d4b36;
  --s-color-dark-on-secondary-container: #d8e7cc;
  --s-color-dark-tertiary: #a0cfd1;
  --s-color-dark-on-tertiary: #003739;
  --s-color-dark-tertiary-container: #1e4e50;
  --s-color-dark-on-tertiary-container: #bcebed;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #1a1c18;
  --s-color-dark-on-background: #e3e3dc;
  --s-color-dark-outline: #8d9387;
  --s-color-dark-outline-variant: #43483f;
  --s-color-dark-surface: #1a1c18;
  --s-color-dark-on-surface:#e3e3dc;
  --s-color-dark-surface-variant: #43483f;
  --s-color-dark-on-surface-variant: #c3c8bc;
  --s-color-dark-inverse-surface: #e3e3dc;
  --s-color-dark-inverse-on-surface: #2f312d;
  --s-color-dark-inverse-primary: #336b23;
  --s-color-dark-surface-container: #1e201c;
  --s-color-dark-surface-container-high: #292b26;
  --s-color-dark-surface-container-highest: #333531;
  --s-color-dark-surface-container-low: #1a1c18;
  --s-color-dark-surface-container-lowest: #0d0f0b;
}
  