s-page{
  --s-color-primary: #686000;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #f3e569;
  --s-color-on-primary-container: #1f1c00;
  --s-color-secondary: #635f41;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #eae3bd;
  --s-color-on-secondary-container: #1f1c05;
  --s-color-tertiary: #406653;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #c2ecd3;
  --s-color-on-tertiary-container: #002114;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fffbff;
  --s-color-on-background: #1d1c16;
  --s-color-outline: #7a7768;
  --s-color-outline-variant: #cbc7b5;
  --s-color-surface: #fffbff;
  --s-color-on-surface:#1d1c16;
  --s-color-surface-variant: #e8e2d0;
  --s-color-on-surface-variant: #49473a;
  --s-color-inverse-surface: #32302a;
  --s-color-inverse-on-surface: #f5f0e7;
  --s-color-inverse-primary: #d6c950;
  --s-color-surface-container: #f2ede4;
  --s-color-surface-container-high: #ece8df;
  --s-color-surface-container-highest: #e6e2d9;
  --s-color-surface-container-low: #f8f3ea;
  --s-color-surface-container-lowest: #ffffff;

  --s-color-dark-primary: #d6c950;
  --s-color-dark-on-primary: #363100;
  --s-color-dark-primary-container: #4e4800;
  --s-color-dark-on-primary-container: #f3e569;
  --s-color-dark-secondary: #cdc7a3;
  --s-color-dark-on-secondary: #343117;
  --s-color-dark-secondary-container: #4b472c;
  --s-color-dark-on-secondary-container: #eae3bd;
  --s-color-dark-tertiary: #a6d0b8;
  --s-color-dark-on-tertiary: #103726;
  --s-color-dark-tertiary-container: #284e3c;
  --s-color-dark-on-tertiary-container: #c2ecd3;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #1d1c16;
  --s-color-dark-on-background: #e6e2d9;
  --s-color-dark-outline: #959181;
  --s-color-dark-outline-variant: #49473a;
  --s-color-dark-surface: #1d1c16;
  --s-color-dark-on-surface:#e6e2d9;
  --s-color-dark-surface-variant: #49473a;
  --s-color-dark-on-surface-variant: #cbc7b5;
  --s-color-dark-inverse-surface: #e6e2d9;
  --s-color-dark-inverse-on-surface: #32302a;
  --s-color-dark-inverse-primary: #686000;
  --s-color-dark-surface-container: #21201a;
  --s-color-dark-surface-container-high: #2b2a24;
  --s-color-dark-surface-container-highest: #36352f;
  --s-color-dark-surface-container-low: #1d1c16;
  --s-color-dark-surface-container-lowest: #0f0e09;
}
  