s-page{
  --s-color-primary: #725c00;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #ffe080;
  --s-color-on-primary-container: #231b00;
  --s-color-secondary: #685e40;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #f0e1bb;
  --s-color-on-secondary-container: #221b04;
  --s-color-tertiary: #45664c;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #c7eccb;
  --s-color-on-tertiary-container: #02210d;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fffbff;
  --s-color-on-background: #1e1b16;
  --s-color-outline: #7d7667;
  --s-color-outline-variant: #cec6b4;
  --s-color-surface: #fffbff;
  --s-color-on-surface:#1e1b16;
  --s-color-surface-variant: #ebe2cf;
  --s-color-on-surface-variant: #4c4639;
  --s-color-inverse-surface: #33302a;
  --s-color-inverse-on-surface: #f6f0e7;
  --s-color-inverse-primary: #e8c341;
  --s-color-surface-container: #f4ede4;
  --s-color-surface-container-high: #eee7de;
  --s-color-surface-container-highest: #e8e2d9;
  --s-color-surface-container-low: #f9f3e9;
  --s-color-surface-container-lowest: #ffffff;

  --s-color-dark-primary: #e8c341;
  --s-color-dark-on-primary: #3c2f00;
  --s-color-dark-primary-container: #564500;
  --s-color-dark-on-primary-container: #ffe080;
  --s-color-dark-secondary: #d4c6a1;
  --s-color-dark-on-secondary: #383016;
  --s-color-dark-secondary-container: #4f462a;
  --s-color-dark-on-secondary-container: #f0e1bb;
  --s-color-dark-tertiary: #accfb0;
  --s-color-dark-on-tertiary: #173720;
  --s-color-dark-tertiary-container: #2e4e35;
  --s-color-dark-on-tertiary-container: #c7eccb;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #1e1b16;
  --s-color-dark-on-background: #e8e2d9;
  --s-color-dark-outline: #979080;
  --s-color-dark-outline-variant: #4c4639;
  --s-color-dark-surface: #1e1b16;
  --s-color-dark-on-surface:#e8e2d9;
  --s-color-dark-surface-variant: #4c4639;
  --s-color-dark-on-surface-variant: #cec6b4;
  --s-color-dark-inverse-surface: #e8e2d9;
  --s-color-dark-inverse-on-surface: #33302a;
  --s-color-dark-inverse-primary: #725c00;
  --s-color-dark-surface-container: #221f1a;
  --s-color-dark-surface-container-high: #2c2a24;
  --s-color-dark-surface-container-highest: #37342e;
  --s-color-dark-surface-container-low: #1e1b16;
  --s-color-dark-surface-container-lowest: #100e09;
}
  