s-page{
  --s-color-primary: #794a99;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #f3daff;
  --s-color-on-primary-container: #2f004c;
  --s-color-secondary: #675a6e;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #efdcf5;
  --s-color-on-secondary-container: #221729;
  --s-color-tertiary: #815154;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #ffdada;
  --s-color-on-tertiary-container: #331014;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fffbff;
  --s-color-on-background: #1d1b1e;
  --s-color-outline: #7c747e;
  --s-color-outline-variant: #cdc3ce;
  --s-color-surface: #fffbff;
  --s-color-on-surface:#1d1b1e;
  --s-color-surface-variant: #eadfea;
  --s-color-on-surface-variant: #4b454d;
  --s-color-inverse-surface: #332f33;
  --s-color-inverse-on-surface: #f6eff3;
  --s-color-inverse-primary: #e3b5ff;
  --s-color-surface-container: #f3ecf0;
  --s-color-surface-container-high: #ede6eb;
  --s-color-surface-container-highest: #e7e0e5;
  --s-color-surface-container-low: #f9f2f6;
  --s-color-surface-container-lowest: #ffffff;

  --s-color-dark-primary: #e3b5ff;
  --s-color-dark-on-primary: #471867;
  --s-color-dark-primary-container: #60317f;
  --s-color-dark-on-primary-container: #f3daff;
  --s-color-dark-secondary: #d2c1d9;
  --s-color-dark-on-secondary: #382c3e;
  --s-color-dark-secondary-container: #4f4256;
  --s-color-dark-on-secondary-container: #efdcf5;
  --s-color-dark-tertiary: #f4b7b9;
  --s-color-dark-on-tertiary: #4c2528;
  --s-color-dark-tertiary-container: #663b3d;
  --s-color-dark-on-tertiary-container: #ffdada;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #1d1b1e;
  --s-color-dark-on-background: #e7e0e5;
  --s-color-dark-outline: #968e98;
  --s-color-dark-outline-variant: #4b454d;
  --s-color-dark-surface: #1d1b1e;
  --s-color-dark-on-surface:#e7e0e5;
  --s-color-dark-surface-variant: #4b454d;
  --s-color-dark-on-surface-variant: #cdc3ce;
  --s-color-dark-inverse-surface: #e7e0e5;
  --s-color-dark-inverse-on-surface: #332f33;
  --s-color-dark-inverse-primary: #794a99;
  --s-color-dark-surface-container: #211f22;
  --s-color-dark-surface-container-high: #2c292c;
  --s-color-dark-surface-container-highest: #373437;
  --s-color-dark-surface-container-low: #1d1b1e;
  --s-color-dark-surface-container-lowest: #100d11;
}