:root {
  --s-color-primary: #D0BCFF;
  --s-color-on-primary: #371E73;

  --s-color-primary-container: #4F378B;
  --s-color-on-primary-container: #EADDFF;

  --s-color-secondary: #CCC2DC;
  --s-color-on-secondary: #332D41;

  --s-color-secondary-container: #4A4458;
  --s-color-on-secondary-container: #E8DEF8;

  --s-color-tertiary: #EFB8C8;
  --s-color-on-tertiary: #492532;

  --s-color-tertiary-container: #633B48;
  --s-color-on-tertiary-container: #FFD8E4;

  --s-color-error: #F2B8B5;
  --s-color-on-error: #601410;

  --s-color-error-container: #8C1D18;
  --s-color-on-error-container: #F9DEDC;

  --s-color-background: #141218;
  --s-color-on-background: #E6E1E5;

  --s-color-surface: #141218;
  --s-color-on-surface: #E6E1E5;

  --s-color-surface-container: #211F26;
  --s-color-surface-container-high: #2B2930;

  --s-color-surface-variant: #49454F;
  --s-color-on-surface-variant: #CAC4D0;

  --s-color-inverse-primary: #6750A4;
  --s-color-inverse-surface: #E6E1E5;
  --s-color-inverse-on-surface: #313033;

  --s-color-outline: #938F99;
  --s-color-outline-variant: #444746;
}

body {
  color: var(--s-color-on-background);
  background: var(--s-color-background);
  font-family: system-ui;
}