:root {
  --s-color-scrim: #000000;

  --s-color-primary: #6750A4;
  --s-color-on-primary: #FFFFFF;
  --s-color-primary-container: #EADDFF;
  --s-color-on-primary-container: #21005D;
  --s-color-inverse-primary: #D0BCFF;
  --s-color-primary-fixed: #EADDFF;
  --s-color-on-primary-fixed: #21005D;
  --s-color-primary-fixed-dim: #D0BCFF;
  --s-color-on-primary-fixed-variant: #4F378B;

  --s-color-secondary: #625B71;
  --s-color-on-secondary: #FFFFFF;
  --s-color-secondary-container: #E8DEF8;
  --s-color-on-secondary-container: #1D192B;
  --s-color-secondary-fixed: #E8DEF8;
  --s-color-on-secondary-fixed: #1D192B;
  --s-color-secondary-fixed-dim: #CCC2DC;
  --s-color-on-secondary-fixed-variant: #4A4458;

  --s-color-tertiary: #7D5260;
  --s-color-on-tertiary: #FFFFFF;
  --s-color-tertiary-container: #FFD8E4;
  --s-color-on-tertiary-container: #31111D;
  --s-color-tertiary-fixed: #FFD8E4;
  --s-color-on-tertiary-fixed: #31111D;
  --s-color-tertiary-fixed-dim: #EFB8C8;
  --s-color-on-tertiary-fixed-variant: #633B48;

  --s-color-surface: #FEF7FF;
  --s-color-on-surface: #1D1B20;
  --s-color-surface-variant: #E7E0EC;
  --s-color-on-surface-variant: #49454F;
  --s-color-inverse-surface: #322F35;
  --s-color-inverse-on-surface: #F5EFF7;
  --s-color-surface-tint: #6750A4;
  --s-color-surface-dim: #DED8E1;
  --s-color-surface-bright: #FEF7FF;
  --s-color-surface-container-lowest: #FFFFFF;
  --s-color-surface-container-low: #F7F2FA;
  --s-color-surface-container: #F3EDF7;
  --s-color-surface-container-high: #ECE6F0;
  --s-color-surface-container-highest: #E6E0E9;

  --s-color-background: #FEF7FF;
  --s-color-on-background: #1D1B20;

  --s-color-outline: #79747E;
  --s-color-outline-variant: #CAC4D0;

  --s-color-error: #B3261E;
  --s-color-on-error: #FFFFFF;
  --s-color-error-container: #F9DEDC;
  --s-color-on-error-container: #410E0B;

  --s-elevation-level1: 0px 3px 1px -2px rgba(0, 0, 0, .2), 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  --s-elevation-level2: 0px 2px 4px -1px rgba(0, 0, 0, .2), 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
  --s-elevation-level3: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
  --s-elevation-level4: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
  --s-elevation-level5: 0px 8px 10px -6px rgba(0, 0, 0, .2), 0px 16px 24px 2px rgba(0, 0, 0, .14), 0px 6px 30px 5px rgba(0, 0, 0, .12);
}