:root {
  --s-color-primary: #057CC1;
  --s-color-on-primary: #FFFFFF;
  --s-color-primary-container: #CDE5FF;
  --s-color-on-primary-container: #001D34;

  --s-color-secondary: #8492A3;
  --s-color-on-secondary: #FFFFFF;
  --s-color-secondary-container: #D5E4F7;
  --s-color-on-secondary-container: #0E1D2A;

  --s-color-tertiary: #895100;
  --s-color-on-tertiary: #FFFFFF;
  --s-color-tertiary-container: #FFDCB8;
  --s-color-on-tertiary-container: #2C1700;

  --s-color-error: #B3261E;
  --s-color-on-error: #FFFFFF;
  --s-color-error-container: #F9DEDC;
  --s-color-on-error-container: #410E0B;

  --s-color-background: #FFFBFE;
  --s-color-on-background: #1C1B1F;

  --s-color-surface: #FEF7FF;
  --s-color-on-surface: #1C1B1F;
  --s-color-surface-variant: #E7E0EC;
  --s-color-on-surface-variant: #49454F;

  --s-color-inverse-primary: #96B9CE;
  --s-color-inverse-surface: #313033;
  --s-color-inverse-on-surface: #F4EFF4;

  --s-color-outline: #79747E;
  --s-color-outline-variant: #C4C7C5;
}

body {
  color: var(--s-color-on-background);
  background: var(--s-color-background);
  font-family: system-ui;
}