html {
  --color-primary: 26, 115, 232;
  --color-secondary: 64, 64, 64;
  --color-accent: 26, 115, 232;
  --color-text-primary: 88, 88, 88;
  --color-text-secondary: 45, 45, 45;
}

body {
  background: #f2f2f2;
}