html {
  --s-color-primary: #9DD67D;
  --s-color-on-primary: #113800;
  --s-color-primary-container: #205106;
  --s-color-on-primary-container: #B8F397;

  --s-color-secondary: #BDCBB0;
  --s-color-on-secondary: #283420;
  --s-color-secondary-container: #3E4A35;
  --s-color-on-secondary-container: #D9E7CB;

  --s-color-tertiary: #A0CFD0;
  --s-color-on-tertiary: #003738;
  --s-color-tertiary-container: #1E4E4E;
  --s-color-on-tertiary-container: #BBEBEC;

  --s-color-error: #F2B8B5;
  --s-color-on-error: #601410;
  --s-color-error-container: #8C1D18;
  --s-color-on-error-container: #F9DEDC;

  --s-color-background: #1C1B1F;
  --s-color-on-background: #E6E1E5;

  --s-color-surface: #1C1B1F;
  --s-color-on-surface: #E6E1E5;
  --s-color-surface-variant: #49454F;
  --s-color-on-surface-variant: #CAC4D0;

  --s-color-inverse-primary: #419112;
  --s-color-inverse-surface: #E6E1E5;
  --s-color-inverse-on-surface: #313033;

  --s-color-outline: #938F99;
  --s-color-outline-variant: #444746;
}

body {
  color: var(--s-color-on-background);
  background: var(--s-color-background);
  font-family: system-ui;
}