html {
  --s-color-primary: #6750A4;
  --s-color-on-primary: #FFFFFF;
  --s-color-primary-container: #EADDFF;
  --s-color-on-primary-container: #21005D;

  --s-color-secondary: #625B71;
  --s-color-on-secondary: #FFFFFF;
  --s-color-secondary-container: #E8DEF8;
  --s-color-on-secondary-container: #1D192B;

  --s-color-tertiary: #7D5260;
  --s-color-on-tertiary: #FFFFFF;
  --s-color-tertiary-container: #FFD8E4;
  --s-color-on-tertiary-container: #31111D;

  --s-color-error: #B3261E;
  --s-color-on-error: #FFFFFF;
  --s-color-error-container: #F9DEDC;
  --s-color-on-error-container: #410E0B;

  --s-color-background: #FFFBFE;
  --s-color-on-background: #1C1B1F;

  --s-color-surface: #FFFBFE;
  --s-color-on-surface: #1C1B1F;
  --s-color-surface-variant: #E7E0EC;
  --s-color-on-surface-variant: #49454F;

  --s-color-inverse-primary: #D0BCFF;
  --s-color-inverse-surface: #313033;
  --s-color-inverse-on-surface: #F4EFF4;

  --s-color-outline: #79747E;
  --s-color-outline-variant: #C4C7C5;
}

body {
  color: var(--s-color-on-background);
  background: var(--s-color-background);
  font-family: system-ui;
}