@media (any-pointer: fine) {
  @-moz-document url-prefix() {
    * {
      scrollbar-color: var(--s-color-outline-variant, #71787e) transparent;
      scrollbar-width: thin;
    }
  }

  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--s-color-outline-variant, #71787e);
      border-radius: 3px;
    }
  }
}