table {
  display: block;
  border-collapse: collapse;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  overflow: auto;
  border-radius: 12px;
  font-size: calc(var(--s-font-size, 1) * 14px);
  line-height: calc(100% + 8px);
  white-space: nowrap;
  position: relative;
}

table {
  border: solid 1px var(--s-color-surface-variant, #dce3e9);
}

table>tbody>tr {
  border-top: solid 1px var(--s-color-surface-variant, #dce3e9);
}

table tr th {
  text-align: left;
  font-weight: 600;
}

table>thead {
  position: sticky;
  top: 0;
  background: var(--s-color-surface-container, #edeef0);
}

table :is(th, td) {
  padding: 12px 16px;
}

table :is(td, th):first-child {
  width: 100%;
}