table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  overflow: auto;
  font-size: calc(var(--s-font-size, 1) * 14px);
  line-height: calc(100% + 8px);
  white-space: nowrap;
  position: relative;
}

table>thead>tr {
  border-top-style: solid;
  background-color: var(--s-color-surface-container, #edeef0);
}


tbody tr:nth-child(even) {
  background: var(--s-color-surface-container-low);
}

table tr {
  border-width: 1px;
  border-bottom-style: solid;
  border-color: var(--s-color-surface-variant, #dce3e9);
  background-color: var(--s-color-background, #fafbfc);
}

table tr>th {
  text-align: left;
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: calc(var(--s-font-size, 1) * 15px);
}

table :is(td, th):first-child {
  padding-left: 16px;
}

table :is(td, th):last-child {
  width: 100%;
  padding-right: 16px;
}

table :is(th, td) {
  padding: 12px 8px;
}