table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  overflow: auto;
  font-size: calc(var(--s-font-size, 1) * 14px);
  line-height: calc(100% + 8px);
  white-space: nowrap;
  overscroll-behavior-x: none;
  position: relative;
  border-width: var(--s-border-min, 1px);
  border-color: var(--s-color-surface-variant, #dde3ea);
  border-top-style: solid;
  border-bottom-style: solid;
}

thead>tr>th {
  text-align: left;
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: calc(var(--s-font-size, 1) * 15px);
  background-color: var(--s-color-surface-container, #edeef0);
}

td {
  position: relative;
}

td::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: c;
  border-color: var(--s-color-surface-variant, #dde3ea);
  border-top-style: solid;
}

tbody>tr:nth-child(even)>td {
  background: var(--s-color-surface-container-low);
}

:is(td, th):first-child {
  padding-left: 16px;
}

:is(td, th):last-child {
  width: 100%;
  padding-right: 16px;
}

:is(th, td) {
  padding: 12px 8px;
}